

<div class="ui-g">
    <div class="ui-g-3">
        <h4>Title</h4>
        <input type="text" pInputText [(ngModel)]="event.title" />
    </div>
    <div class="ui-g-3">
        <h4>Date</h4>
        <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="event.date" (change)="testEvent()" ngbDatepicker #d="ngbDatepicker">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                    <img src="assets/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                </button>
            </div>
        </div>
    </div>
    <div class="ui-g-3">
        <h4>Start Time</h4>
        <ngb-timepicker [(ngModel)]="event.startTime" [meridian]="true"></ngb-timepicker>
    </div>
    <div class="ui-g-3">
        <h4>End Time</h4>
        <ngb-timepicker [(ngModel)]="event.endTime" [meridian]="true"></ngb-timepicker>
    </div>
</div>
<div class="ui-g">
    <div class="ui-g-6">
        <h4>Notes</h4>
        <textarea pInputTextarea [(ngModel)]="event.notes"></textarea>
    </div>
    <div class="ui-g-3">
        <h4>Required</h4>
        <input type="text" pInputText [(ngModel)]="event.required"/>
    </div>
    <div class="ui-g-3">
        <h4>Assigned</h4>
        <input type="text" pInputText [(ngModel)]="event.assigned"/>
    </div>
</div>