<h3>
    Role Assignment Page</h3>

<p-table [value]="events">
    <ng-template pTemplate="header">
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Required</th>
            <th>Assigned</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-events>
        <tr>

            <td>{{events.title}}</td>
            <td>
                <p-calendar [(ngModel)]="events.date"></p-calendar>
            </td>
            <td>
                <p-calendar [(ngModel)]="events.startTime" [timeOnly]="true"></p-calendar>
            </td>
            <td>
                <p-calendar [(ngModel)]="events.endTime" [timeOnly]="true"></p-calendar>
            </td>
        </tr>
    </ng-template>
</p-table>


