/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
@import "~fullcalendar/dist/fullcalendar.css";
@import "~primeng/resources/primeng.min.css";
@import "~primeicons/primeicons.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~primeng/resources/themes/omega/theme.css";
/*@import "~fullcalendar/dist/fullcalendar.print.css");*/
body{
    padding-top: 5rem;
}

.starter-template{
    padding: 3rem 1.5rem;
    text-align: center;
}
:host ::ng-deep .pac-container {
    z-index: 1500;
}
.pac-container {
    z-index: 1500;
}

.ui-dialog-content {
    min-width:700px;
}

/*.mat-select-trigger{*/
/*    z-index:1100;*/
/*}*/